#mapid { 
    height: 50%; 
    width: 50%;
    z-index: 1;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.leaflet-container{
    width: 50rem;
    height: 30rem;
}